.todo-item{
    justify-content: space-around;
    border: 2px solid black;
    width: 300px;
    margin-left: 15%;
    display: flex;
}
.todo-item:hover{
    background-color: rgb(208, 178, 178);
    cursor: pointer;
}
#todoListContainer{
    background-color:lightgray;
    height: 400px;
    width: 400px;
    margin: auto auto;
    border-radius: 5%;
}